<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% extends "layout.html" %}

{% block content %}

<!--
BUSINESS
-->
    <h1 align="left">Businesss</h1>

 {% if business %}

     <div id="container" align="center">

    {% for p in business %}
        {% if p.Estado == "evaluate" %}


            <div class="card" style="width: 450px">
                <h5 class="card-title">{{p.Titulo}}</h5>
                <p style="color:gray">{{p.Fecha}}</p>
                <p style="color:gray">{{p}}</p>

                {% if p.Imagen %}
                    <img class="card-img-top" src="{{p.Imagen}}" alt="Card image cap" style="width: 450px; height: 450px" >
                {% endif %}
                {% if p.Video %}
                    <video width="450" controls>
                        <source src="{{p.Video}}" type="video/mp4">
                        <source src="{{p.Video}}" type="video/ogg">
                        Your browser does not support HTML video.
                    </video>
                {% endif %}
                {% if p.Archivo %}
                    <p><a href="{{p.Archivo}}" target="_blank">PDF disponible</a>.</p>
                {% endif %}
                {% if p.Link %}
                    <a href="{{p.Link}}" target="_blank">Link disponible</a>
                {% endif %}
                <div class="card-body">

                    <p class="card-text">{{p.Descripcion}}</p>
                    <div>
                        <button type="button" class="btn btn-success btn-lg" >Aprobar</button>
                        <button type="button" class="btn btn-danger btn-lg" >Desaprobar</button>
                    </div>
                </div>
            </div>
        <hr/>

     {% endif %}

   {% endfor %}

    </div>

 {% else %}
     <div class="noposts">
         <img src="../static/assets/2404627.svg" />
         <p>No hay posts de Business</p>
     </div>
 {% endif %}


<!--
MEDICINA
-->

    <h1 align="left">Medicina</h1>

    {% if medicina %}

     <div id="container" align="center">

    {% for p in medicina %}
        {% if p.Estado == "evaluate" %}


            <div class="card" style="width: 450px">
                <h5 class="card-title">{{p.Titulo}}</h5>
                <p style="color:gray">{{p.Fecha}}</p>
                {% if p.Imagen %}
                    <img class="card-img-top" src="{{p.Imagen}}" alt="Card image cap" style="width: 450px; height: 450px" >
                {% endif %}
                {% if p.Video %}
                    <video width="450" controls>
                        <source src="{{p.Video}}" type="video/mp4">
                        <source src="{{p.Video}}" type="video/ogg">
                        Your browser does not support HTML video.
                    </video>
                {% endif %}
                {% if p.Archivo %}
                    <p><a href="{{p.Archivo}}" target="_blank">PDF disponible</a>.</p>
                {% endif %}
                {% if p.Link %}
                    <a href="{{p.Link}}" target="_blank">Link disponible</a>
                {% endif %}
                <div class="card-body">

                    <p class="card-text">{{p.Descripcion}}</p>
                    <div>
                        <a href="#" class="btn btn-success btn-lg">Aprobar</a>
                        <a href="#" class="btn btn-danger btn-lg">Desaprobar</a>
                    </div>
                </div>
            </div>
        <hr/>



     {% endif %}

   {% endfor %}

    </div>

 {% else %}
     <div class="noposts">
         <img src="../static/assets/2404627.svg" />
         <p>No hay posts de Medicina</p>
     </div>
 {% endif %}



<!--
PSICOLOGÍA
-->

    <h1 align="left">Psicología</h1>

    {% if psicologia %}

     <div id="container" align="center">

    {% for p in psicologia %}
        {% if p.Estado == "evaluate" %}


            <div class="card" style="width: 450px">
                <h5 class="card-title">{{p.Titulo}}</h5>
                <p style="color:gray">{{p.Fecha}}</p>
                {% if p.Imagen %}
                    <img class="card-img-top" src="{{p.Imagen}}" alt="Card image cap" style="width: 450px; height: 450px" >
                {% endif %}
                {% if p.Video %}
                    <video width="450" controls>
                        <source src="{{p.Video}}" type="video/mp4">
                        <source src="{{p.Video}}" type="video/ogg">
                        Your browser does not support HTML video.
                    </video>
                {% endif %}
                {% if p.Archivo %}
                    <p><a href="{{p.Archivo}}" target="_blank">PDF disponible</a>.</p>
                {% endif %}
                {% if p.Link %}
                    <a href="{{p.Link}}" target="_blank">Link disponible</a>
                {% endif %}
                <div class="card-body">

                    <p class="card-text">{{p.Descripcion}}</p>
                    <div>
                        <a href="#" class="btn btn-success btn-lg">Aprobar</a>
                        <a href="#" class="btn btn-danger btn-lg">Desaprobar</a>
                    </div>
                </div>
            </div>
        <hr/>



     {% endif %}

   {% endfor %}
    </div>

 {% else %}
     <div class="noposts">
         <img src="../static/assets/2404627.svg" />
         <p>No hay posts de Psicología</p>
     </div>
 {% endif %}




<!--
TECNOLOGÍA
-->


    <h1 align="left">Tecnología</h1>

    {% if tecnologia %}

     <div id="container" align="center">

    {% for p in tecnologia %}
        {% if p.Estado == "evaluate" %}


            <div class="card" style="width: 450px">
                <h5 class="card-title">{{p.Titulo}}</h5>
                <p style="color:gray">{{p.Fecha}}</p>
                {% if p.Imagen %}
                    <img class="card-img-top" src="{{p.Imagen}}" alt="Card image cap" style="width: 450px; height: 450px" >
                {% endif %}
                {% if p.Video %}
                    <video width="450" controls>
                        <source src="{{p.Video}}" type="video/mp4">
                        <source src="{{p.Video}}" type="video/ogg">
                        Your browser does not support HTML video.
                    </video>
                {% endif %}
                {% if p.Archivo %}
                    <p><a href="{{p.Archivo}}" target="_blank">PDF disponible</a>.</p>
                {% endif %}
                {% if p.Link %}
                    <a href="{{p.Link}}" target="_blank">Link disponible</a>
                {% endif %}
                <div class="card-body">

                    <p class="card-text">{{p.Descripcion}}</p>
                    <div>
                        <a href="#" class="btn btn-success btn-lg">Aprobar</a>
                        <a href="#" class="btn btn-danger btn-lg">Desaprobar</a>
                    </div>
                </div>
            </div>
        <hr/>



     {% endif %}

   {% endfor %}
    </div>

 {% else %}
     <div class="noposts">
         <img src="../static/assets/2404627.svg" />
         <p>No hay posts de Tecnología</p>
     </div>
 {% endif %}


{% endblock %}