<nav>
    <ul>
        <li><a href="/">Covid Relief</a></li>
    </ul>
    <ul style="display: inherit; text-transform: capitalize;">
        <li><a href="/">Inicio</a></li>

        {% if session["usr"] %}
        <li><a href="/aprobar">Aprobar post</a></li>
        {% endif %}

        {% if session["usr"] %}
        <li><a href="/estadisticas">Estadísticas</a></li>
        {% endif %}

        <li><a href="/about-us">Sobre nosotros</a></li>

        {% if not session["usr"] %}
        <li><a href="/signup">Registro</a></li>
        <li><a href="/login">Iniciar sesión</a></li>
        {% endif %}

        {% if session["email"] %}
        <li><a style="text-transform: lowercase !important;">{{session["email"]}}</a> </li>
        {% endif %}

        {% if session["usr"] %}
        <li><a href="/logout"> Cerrar sesión</a></li>
        {% endif %}


    </ul>
   
</nav>